/* Estilos para a barra de navegação */
.navbar {
    background-color: #333; /* Preto suave */
    color: white;
    padding: 15px 10%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

/* Estilos para o conteúdo */
.content {
    margin: 0 10%;
    text-align: left;
}

.content h1 {
    font-size: 2em;
    margin-top: 1em;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
}

form {
    margin-top: 1.5em;
}

form label {
    font-weight: bold;
    font-size: 1em;
}

form input[type="text"], form select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 1em;
}

.datetime {
    margin-top: 2em;
    font-size: 0.9em;
    color: #555;
}

