<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Flasky</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="content">
        {% if time %}
        <h1>Hello World!</h1>  
        <hr> <!-- Linha quase transparente -->
        <p>The local date and time is {{ time }}.</p>
        <p>That was in a few seconds.</p>
        {% elif user %}
        <h1>Hello, {{ user }}!</h1> <!-- Tamanho igual ao Hello World -->
        {% elif error %}
        <h1>Not Found</h1> <!-- Tamanho igual ao Hello World -->
        {% endif %}
    </div>
</body>
</html>
>
